In [2]:
import pandas as pd
import json

test_data_path = '/home/pablost/Hackathon_inditex_data_science/hackathon-inditex-data-recommender/data/raw/test.csv'
train_data_path = '/home/pablost/Hackathon_inditex_data_science/hackathon-inditex-data-recommender/data/raw/train.csv'
products_data_path = '/home/pablost/Hackathon_inditex_data_science/hackathon-inditex-data-recommender/data/raw/products.pkl'
user_details_path = '/home/pablost/Hackathon_inditex_data_science/hackathon-inditex-data-recommender/data/raw/format_user_details.json'

# Test

In [3]:
test_df = pd.read_csv(test_data_path)
    
# Información general del dataset
print("Información general del dataset:")
print(test_df.info())

# Primeras filas del dataset
print("\nPrimeras filas del dataset:")
print(test_df.head())

# Estadísticas descriptivas
print("\nEstadísticas descriptivas:")
print(test_df.describe(include='all'))

Información general del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29275 entries, 0 to 29274
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   session_id       29275 non-null  int64
 1   date             29275 non-null  object
 2   timestamp_local  29275 non-null  object
 3   user_id          5766 non-null   float64
 4   country          29275 non-null  int64
 5   partnumber       29275 non-null  int64
 6   device_type      29275 non-null  int64
 7   pagetype         29275 non-null  float64
dtypes: float64(2), int64(4), object(2)
memory usage: 1.8+ MB
None

Primeras filas del dataset:
   session_id        date          timestamp_local  user_id  country  \
0         746  2024-06-15  2024-06-15 18:36:47.390      NaN       57
1         746  2024-06-15  2024-06-15 18:37:04.052      NaN       57
2         746  2024-06-15  2024-06-15 18:37:48.159      NaN       57
3         746  2024-06-15  2024-06-15 18:38:19.899      NaN       57
4         746  2024-06-15  2024-06-15 18:38:46.492      NaN       57

   partnumber  device_type  pagetype
0        1254            1      24.0
1       32544            1      24.0
2       12639            1      24.0
3       18048            1      24.0
4       13295            1      24.0

Estadísticas descriptivas:
          session_id        date          timestamp_local        user_id  \
count   2.927500e+04       29275                    29275    5766.000000
unique           NaN           2                    29271            NaN
top              NaN  2024-06-16  2024-06-16 15:38:21.543            NaN
freq             NaN       14825                        2            NaN
mean    2.602346e+06         NaN                      NaN  266152.648630
std     1.496322e+06         NaN                      NaN  157743.375504
min     7.460000e+02         NaN                      NaN     206.000000
25%     1.318920e+06         NaN                      NaN  132338.250000
50%     2.619119e+06         NaN                      NaN  259465.000000
75%     3.904801e+06         NaN                      NaN  394631.000000
max     5.168933e+06         NaN                      NaN  555819.000000

             country    partnumber   device_type      pagetype
count   29275.000000  29275.000000  29275.000000  29275.000000
unique           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN
mean       34.260495  22085.171238      1.213185     23.137865
std        10.539929  12502.857230      0.603799      3.671977
min        25.000000      3.000000      1.000000      1.000000
25%        25.000000  11544.500000      1.000000     24.000000
50%        34.000000  21777.000000      1.000000     24.000000
75%        34.000000  32864.000000      1.000000     24.000000
max        57.000000  43679.000000      3.000000     26.000000

In [4]:
test_df.head()

,session_id,date,timestamp_local,user_id,country,partnumber,device_type,pagetype
0,746,2024-06-15,2024-06-15 18:36:47.390,NaN,57,1254,1,24.0
1,746,2024-06-15,2024-06-15 18:37:04.052,NaN,57,32544,1,24.0
2,746,2024-06-15,2024-06-15 18:37:48.159,NaN,57,12639,1,24.0
3,746,2024-06-15,2024-06-15 18:38:19.899,NaN,57,18048,1,24.0
4,746,2024-06-15,2024-06-15 18:38:46.492,NaN,57,13295,1,24.0

## session_id

In [5]:
# Revisar los valores en session_id
print("Análisis de session_id:")
print(test_df['session_id'].describe())
print(test_df['session_id'].dtype)

Análisis de session_id:
count    2.927500e+04
mean     2.602346e+06
std      1.496322e+06
min      7.460000e+02
25%      1.318920e+06
50%      2.619119e+06
75%      3.904801e+06
max      5.168933e+06
Name: session_id, dtype: float64
int64

In [6]:
test_df['session_id'] = pd.to_numeric(test_df['session_id'], downcast='integer')
print("Nuevo tipo de session_id:", test_df['session_id'].dtype)

Nuevo tipo de session_id: int32

## date

In [7]:
# Revisar los valores en date
print("Análisis de date:")
print(test_df['date'].head())
print(test_df['date'].dtype)

Análisis de date:
0    2024-06-15
1    2024-06-15
2    2024-06-15
3    2024-06-15
4    2024-06-15
Name: date, dtype: object
object

In [8]:
# Convertir a datetime
test_df['date'] = pd.to_datetime(test_df['date'])
print("Nuevo tipo de date:", test_df['date'].dtype)

Nuevo tipo de date: datetime64[ns]

## timestamp_local

In [9]:
# Revisar los valores en timestamp_local
print("Análisis de timestamp_local:")
print(test_df['timestamp_local'].head())
print(test_df['timestamp_local'].dtype)

Análisis de timestamp_local:
0    2024-06-15 18:36:47.390
1    2024-06-15 18:37:04.052
2    2024-06-15 18:37:48.159
3    2024-06-15 18:38:19.899
4    2024-06-15 18:38:46.492
Name: timestamp_local, dtype: object
object

In [10]:
# Convertir a datetime
test_df['timestamp_local'] = pd.to_datetime(test_df['timestamp_local'])
print("Nuevo tipo de timestamp_local:", test_df['timestamp_local'].dtype)

Nuevo tipo de timestamp_local: datetime64[ns]

## user_id

In [11]:
# Revisar los valores en user_id
print("Análisis de user_id:")
print(test_df['user_id'].describe())
print(test_df['user_id'].isnull().sum())
print(test_df['user_id'].dtype)

Análisis de user_id:
count      5766.000000
mean     266152.648630
std      157743.375504
min         206.000000
25%      132338.250000
50%      259465.000000
75%      394631.000000
max      555819.000000
Name: user_id, dtype: float64
23509
float64

In [12]:
# Manejar valores faltantes y optimizar el tipo
test_df['user_id'] = test_df['user_id'].fillna(-1)

# Convertir a entero (int32)
test_df['user_id'] = test_df['user_id'].astype('int32')

# Verificar los cambios
print(test_df['user_id'].dtype)
print(test_df['user_id'].value_counts())

int32
user_id
-1         23509
 180676       20
 270414       18
 314026       17
 177306       11
           ...
 73785         1
 497230        1
 146826        1
 529534        1
 175416        1
Name: count, Length: 1412, dtype: int64

## country

In [13]:
# Revisar los valores en country
print("Análisis de country:")
print(test_df['country'].describe())
print(test_df['country'].dtype)

Análisis de country:
count    29275.000000
mean        34.260495
std         10.539929
min         25.000000
25%         25.000000
50%         34.000000
75%         34.000000
max         57.000000
Name: country, dtype: float64
int64

In [14]:
# Convertir a integer
test_df['country'] = pd.to_numeric(test_df['country'], downcast='integer')
print("Nuevo tipo de country:", test_df['country'].dtype)

Nuevo tipo de country: int8

## partnumber

In [15]:
# Revisar los valores en partnumber
print("Análisis de partnumber:")
print(test_df['partnumber'].describe())
print(test_df['partnumber'].dtype)

Análisis de partnumber:
count    29275.000000
mean     22085.171238
std      12502.857230
min          3.000000
25%      11544.500000
50%      21777.000000
75%      32864.000000
max      43679.000000
Name: partnumber, dtype: float64
int64

In [16]:
# Convertir a int32
test_df['partnumber'] = pd.to_numeric(test_df['partnumber'], downcast='integer')
print("Nuevo tipo de partnumber:", test_df['partnumber'].dtype)

Nuevo tipo de partnumber: int32

## device_type

In [17]:
# Revisar los valores en device_type
print("Análisis de device_type:")
print(test_df['device_type'].describe())
print(test_df['device_type'].dtype)

Análisis de device_type:
count    29275.000000
mean         1.213185
std          0.603799
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          3.000000
Name: device_type, dtype: float64
int64

In [18]:
# Convertir a int8
test_df['device_type'] = pd.to_numeric(test_df['device_type'], downcast='integer')
print("Nuevo tipo de device_type:", test_df['device_type'].dtype)

Nuevo tipo de device_type: int8

## pagetype

In [19]:
# Revisar los valores en pagetype
print("Análisis de pagetype:")
print(test_df['pagetype'].describe())
print(test_df['pagetype'].isnull().sum())
print(test_df['pagetype'].dtype)

Análisis de pagetype:
count    29275.000000
mean        23.137865
std          3.671977
min          1.000000
25%         24.000000
50%         24.000000
75%         24.000000
max         26.000000
Name: pagetype, dtype: float64
0
float64

In [20]:
# Manejar valores faltantes y optimizar el tipo
test_df['pagetype'] = test_df['pagetype'].fillna(-1).astype('int8')
print("Nuevo tipo de pagetype:", test_df['pagetype'].dtype)

Nuevo tipo de pagetype: int8

## Resumen

In [21]:
test_df.info

<bound method DataFrame.info of        session_id       date         timestamp_local  user_id  country  \
0             746 2024-06-15 2024-06-15 18:36:47.390       -1       57
1             746 2024-06-15 2024-06-15 18:37:04.052       -1       57
2             746 2024-06-15 2024-06-15 18:37:48.159       -1       57
3             746 2024-06-15 2024-06-15 18:38:19.899       -1       57
4             746 2024-06-15 2024-06-15 18:38:46.492       -1       57
...           ...        ...                     ...      ...      ...
29270     5167195 2024-06-16 2024-06-16 13:13:10.152       -1       34
29271     5167272 2024-06-16 2024-06-16 18:58:15.562       -1       34
29272     5168338 2024-06-15 2024-06-15 21:36:15.931       -1       34
29273     5168492 2024-06-16 2024-06-16 04:06:03.528       -1       34
29274     5168933 2024-06-16 2024-06-16 04:53:26.427       -1       57

       partnumber  device_type  pagetype
0            1254            1        24
1           32544            1        24
2           12639            1        24
3           18048            1        24
4           13295            1        24
...           ...          ...       ...
29270       30113            1        24
29271       28922            1         8
29272       13467            1        24
29273       13732            1        24
29274        8969            1        24

[29275 rows x 8 columns]>

In [22]:
test_df.head(20)

,session_id,date,timestamp_local,user_id,country,partnumber,device_type,pagetype
0,746,2024-06-15,2024-06-15 18:36:47.390,-1,57,1254,1,24
1,746,2024-06-15,2024-06-15 18:37:04.052,-1,57,32544,1,24
2,746,2024-06-15,2024-06-15 18:37:48.159,-1,57,12639,1,24
3,746,2024-06-15,2024-06-15 18:38:19.899,-1,57,18048,1,24
4,746,2024-06-15,2024-06-15 18:38:46.492,-1,57,13295,1,24
5,746,2024-06-15,2024-06-15 18:38:56.264,-1,57,9377,1,24
6,746,2024-06-15,2024-06-15 18:39:15.605,-1,57,9467,1,24
7,1306,2024-06-15,2024-06-15 13:15:55.471,-1,34,27437,1,24
8,1364,2024-06-15,2024-06-15 00:02:16.930,-1,34,19693,1,24
9,1377,2024-06-15,2024-06-15 19:08:13.376,259465,25,42854,1,24
10,1377,2024-06-15,2024-06-15 19:08:17.288,259465,25,10205,1,24
11,1377,2024-06-15,2024-06-15 19:08:18.078,259465,25,42854,1,24
12,1377,2024-06-15,2024-06-15 19:09:46.989,259465,25,3610,1,24
13,1377,2024-06-15,2024-06-15 19:09:48.136,259465,25,6409,1,24
14,2251,2024-06-15,2024-06-15 13:17:36.968,486272,25,11024,1,24
15,2344,2024-06-15,2024-06-15 18:43:34.272,-1,34,20175,3,1
16,3125,2024-06-15,2024-06-15 02:47:01.996,-1,34,11695,1,24
17,3125,2024-06-15,2024-06-15 02:47:31.914,-1,34,4774,1,24
18,3125,2024-06-15,2024-06-15 02:47:36.195,-1,34,19733,1,24
19,3125,2024-06-15,2024-06-15 02:47:49.662,-1,34,4774,1,24

In [23]:
test_df.describe()

,session_id,date,timestamp_local,user_id,country,partnumber,device_type,pagetype
count,2.927500e+04,29275,29275,29275.000000,29275.000000,29275.000000,29275.000000,29275.000000
mean,2.602346e+06,2024-06-15 12:09:13.373185280,2024-06-16 01:07:58.761897472,52420.586268,34.260495,22085.171238,1.213185,23.137865
min,7.460000e+02,2024-06-15 00:00:00,2024-06-15 00:00:35.309000,-1.000000,25.000000,3.000000,1.000000,1.000000
25%,1.318920e+06,2024-06-15 00:00:00,2024-06-15 13:45:43.255499776,-1.000000,25.000000,11544.500000,1.000000,24.000000
50%,2.619119e+06,2024-06-16 00:00:00,2024-06-16 00:16:00.219000064,-1.000000,34.000000,21777.000000,1.000000,24.000000
75%,3.904801e+06,2024-06-16 00:00:00,2024-06-16 14:08:17.384000,-1.000000,34.000000,32864.000000,1.000000,24.000000
max,5.168933e+06,2024-06-16 00:00:00,2024-06-16 23:55:50.519000,555819.000000,57.000000,43679.000000,3.000000,26.000000
std,1.496322e+06,NaN,NaN,126904.770441,10.539929,12502.857230,0.603799,3.671977

---

## Verificaciones

In [24]:
# Verificar valores nulos
print("Valores nulos por columna:")
print(test_df.isnull().sum())

# Verificar uso de memoria
print("\nUso de memoria del dataset optimizado:")
print(test_df.info(memory_usage='deep'))

# Verificar valores únicos en columnas clave
print("\nValores únicos en user_id (usuarios no logueados deben ser -1):")
print(test_df['user_id'].unique())

Valores nulos por columna:
session_id         0
date               0
timestamp_local    0
user_id            0
country            0
partnumber         0
device_type        0
pagetype           0
dtype: int64

Uso de memoria del dataset optimizado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29275 entries, 0 to 29274
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   session_id       29275 non-null  int32
 1   date             29275 non-null  datetime64[ns]
 2   timestamp_local  29275 non-null  datetime64[ns]
 3   user_id          29275 non-null  int32
 4   country          29275 non-null  int8
 5   partnumber       29275 non-null  int32
 6   device_type      29275 non-null  int8
 7   pagetype         29275 non-null  int8
dtypes: datetime64[ns](2), int32(3), int8(3)
memory usage: 886.4 KB
None

Valores únicos en user_id (usuarios no logueados deben ser -1):
[    -1 259465 486272 ... 364178  58024 175416]

In [25]:
print("Usuarios no logueados (user_id == -1):", (test_df['user_id'] == -1).sum())
print(23509 / len(test_df) * 100) # 80.30 %
print("Valores faltantes en country (country == -1):", (test_df['country'] == -1).sum())
print("Valores faltantes en pagetype (pagetype == -1):", (test_df['pagetype'] == -1).sum())

Usuarios no logueados (user_id == -1): 23509
80.30401366353544
Valores faltantes en country (country == -1): 0
Valores faltantes en pagetype (pagetype == -1): 0

---

# Tipo de datos iniciales alineados entre TRAIN Y TEST

In [26]:
# Guardar dataset en formato Parquet (más eficiente)
test_df.to_parquet('/home/pablost/Hackathon_inditex_data_science/hackathon-inditex-data-recommender/data/processed_v2/test_optimized.parquet', index=False)

print("Datasets guardados correctamente.")

Datasets guardados correctamente.