In [1]:
import pandas as pd
import json

test_data_path = '/home/pablost/Hackathon_inditex_data_science/hackathon-inditex-data-recommender/data/raw/test.csv'
train_data_path = '/home/pablost/Hackathon_inditex_data_science/hackathon-inditex-data-recommender/data/raw/train.csv'
products_data_path = '/home/pablost/Hackathon_inditex_data_science/hackathon-inditex-data-recommender/data/raw/products.pkl'
user_details_path = '/home/pablost/Hackathon_inditex_data_science/hackathon-inditex-data-recommender/data/raw/format_user_details.json'

# Train

In [2]:
train_df = pd.read_csv(train_data_path)
    
# Información general del dataset
print("Información general del dataset:")
print(train_df.info())

# Primeras filas del dataset
print("\nPrimeras filas del dataset:")
print(train_df.head())

# Estadísticas descriptivas
# print("\nEstadísticas descriptivas:")
# print(train_df.describe(include='all'))

Información general del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46551445 entries, 0 to 46551444
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   session_id       int64
 1   date             object
 2   timestamp_local  object
 3   add_to_cart      int64
 4   user_id          float64
 5   country          int64
 6   partnumber       int64
 7   device_type      int64
 8   pagetype         float64
dtypes: float64(2), int64(5), object(2)
memory usage: 3.1+ GB
None

Primeras filas del dataset:
   session_id        date          timestamp_local  add_to_cart   user_id  \
0          64  2024-06-06  2024-06-06 16:43:17.389            0       NaN
1         117  2024-06-08  2024-06-08 15:11:02.782            0       NaN
2         117  2024-06-08  2024-06-08 15:11:44.797            0       NaN
3         579  2024-06-05  2024-06-05 19:24:48.397            0       NaN
4        1220  2024-06-04  2024-06-04 08:21:13.476            0  480729.0

   country  partnumber  device_type  pagetype
0       29       14327            1      24.0
1       57       38422            1      24.0
2       57       19763            1      24.0
3       29       30253            1      24.0
4       25        1592            1      24.0

In [3]:
train_df.head()

,session_id,date,timestamp_local,add_to_cart,user_id,country,partnumber,device_type,pagetype
0,64,2024-06-06,2024-06-06 16:43:17.389,0,NaN,29,14327,1,24.0
1,117,2024-06-08,2024-06-08 15:11:02.782,0,NaN,57,38422,1,24.0
2,117,2024-06-08,2024-06-08 15:11:44.797,0,NaN,57,19763,1,24.0
3,579,2024-06-05,2024-06-05 19:24:48.397,0,NaN,29,30253,1,24.0
4,1220,2024-06-04,2024-06-04 08:21:13.476,0,480729.0,25,1592,1,24.0

## session_id

In [4]:
# Revisar los valores en session_id
print("Análisis de session_id:")
print(train_df['session_id'].describe())
print(train_df['session_id'].dtype)

Análisis de session_id:
count    4.655144e+07
mean     2.582898e+06
std      1.493335e+06
min      1.000000e+00
25%      1.289981e+06
50%      2.580033e+06
75%      3.875410e+06
max      5.171848e+06
Name: session_id, dtype: float64
int64

In [5]:
# Ajustar el tipo de dato
train_df['session_id'] = pd.to_numeric(train_df['session_id'], downcast='integer')
print("Nuevo tipo de session_id:", train_df['session_id'].dtype)

Nuevo tipo de session_id: int32

## date

In [6]:
# Revisar los valores en date
print("Análisis de date:")
print(train_df['date'].head())
print(train_df['date'].dtype)

Análisis de date:
0    2024-06-06
1    2024-06-08
2    2024-06-08
3    2024-06-05
4    2024-06-04
Name: date, dtype: object
object

In [7]:
# Convertir a datetime
train_df['date'] = pd.to_datetime(train_df['date'])
print("Nuevo tipo de date:", train_df['date'].dtype)

Nuevo tipo de date: datetime64[ns]

## timestamp_local

In [8]:
# Revisar los valores en timestamp_local
print("Análisis de timestamp_local:")
print(train_df['timestamp_local'].head())
print(train_df['timestamp_local'].dtype)

Análisis de timestamp_local:
0    2024-06-06 16:43:17.389
1    2024-06-08 15:11:02.782
2    2024-06-08 15:11:44.797
3    2024-06-05 19:24:48.397
4    2024-06-04 08:21:13.476
Name: timestamp_local, dtype: object
object

In [9]:
# Convertir a datetime
train_df['timestamp_local'] = pd.to_datetime(train_df['timestamp_local'])
print("Nuevo tipo de timestamp_local:", train_df['timestamp_local'].dtype)

Nuevo tipo de timestamp_local: datetime64[ns]

## add_to_cart

In [10]:
# Revisar los valores en add_to_cart
print("Análisis de add_to_cart:")
print(train_df['add_to_cart'].value_counts())
print(train_df['add_to_cart'].dtype)

Análisis de add_to_cart:
add_to_cart
0    43805662
1     2745783
Name: count, dtype: int64
int64

In [11]:
# Convertir a int8
train_df['add_to_cart'] = pd.to_numeric(train_df['add_to_cart'], downcast='integer')
print("Nuevo tipo de add_to_cart:", train_df['add_to_cart'].dtype)

Nuevo tipo de add_to_cart: int8

## user_id

In [12]:
# Revisar los valores en user_id
print("Análisis de user_id:")
print(train_df['user_id'].describe())
print(train_df['user_id'].isnull().sum())
print(train_df['user_id'].dtype)

Análisis de user_id:
count    6.856730e+06
mean     2.785741e+05
std      1.610572e+05
min      1.000000e+00
25%      1.382670e+05
50%      2.784610e+05
75%      4.179960e+05
max      5.570060e+05
Name: user_id, dtype: float64
39694715
float64

In [13]:
# Manejar valores faltantes y optimizar el tipo
train_df['user_id'] = train_df['user_id'].fillna(-1)

# Convertir a entero (int32)
train_df['user_id'] = train_df['user_id'].astype('int32')

# Verificar los cambios
print(train_df['user_id'].dtype)
print(train_df['user_id'].value_counts())

int32
user_id
-1         39694715
 436999        3431
 304018        2433
 88890         2103
 447794        2090
             ...
 461590           1
 66266            1
 519189           1
 507428           1
 328107           1
Name: count, Length: 380053, dtype: int64

## country

In [14]:
# Revisar los valores en country
print("Análisis de country:")
print(train_df['country'].describe())
print(train_df['country'].dtype)

Análisis de country:
count    4.655144e+07
mean     3.644275e+01
std      1.245243e+01
min      2.500000e+01
25%      2.900000e+01
50%      2.900000e+01
75%      5.700000e+01
max      5.700000e+01
Name: country, dtype: float64
int64

In [15]:
# Convertir a integer
train_df['country'] = pd.to_numeric(train_df['country'], downcast='integer')
print("Nuevo tipo de country:", train_df['country'].dtype)

Nuevo tipo de country: int8

## partnumber

In [16]:
# Revisar los valores en partnumber
print("Análisis de partnumber:")
print(train_df['partnumber'].describe())
print(train_df['partnumber'].dtype)

Análisis de partnumber:
count    4.655144e+07
mean     2.171479e+04
std      1.248680e+04
min      1.000000e+00
25%      1.105200e+04
50%      2.164900e+04
75%      3.242300e+04
max      4.369200e+04
Name: partnumber, dtype: float64
int64

In [17]:
# Convertir a int32
train_df['partnumber'] = pd.to_numeric(train_df['partnumber'], downcast='integer')
print("Nuevo tipo de partnumber:", train_df['partnumber'].dtype)

Nuevo tipo de partnumber: int32

## device_type

In [18]:
# Revisar los valores en device_type
print("Análisis de device_type:")
print(train_df['device_type'].describe())
print(train_df['device_type'].dtype)

Análisis de device_type:
count    4.655144e+07
mean     1.144113e+00
std      5.080278e-01
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      3.000000e+00
Name: device_type, dtype: float64
int64

In [19]:
# Convertir a int8
train_df['device_type'] = pd.to_numeric(train_df['device_type'], downcast='integer')
print("Nuevo tipo de device_type:", train_df['device_type'].dtype)

Nuevo tipo de device_type: int8

## pagetype

In [20]:
# Revisar los valores en pagetype
print("Análisis de pagetype:")
print(train_df['pagetype'].describe())
print(train_df['pagetype'].isnull().sum())
print(train_df['pagetype'].dtype)

Análisis de pagetype:
count    4.655025e+07
mean     2.390146e+01
std      1.273987e+00
min      1.000000e+00
25%      2.400000e+01
50%      2.400000e+01
75%      2.400000e+01
max      3.700000e+01
Name: pagetype, dtype: float64
1197
float64

In [21]:
# Manejar valores faltantes y optimizar el tipo
train_df['pagetype'] = train_df['pagetype'].fillna(-1).astype('int8')
print("Nuevo tipo de pagetype:", train_df['pagetype'].dtype)

Nuevo tipo de pagetype: int8

## Resumen

In [22]:
train_df.info

<bound method DataFrame.info of           session_id       date         timestamp_local  add_to_cart  user_id  \
0                 64 2024-06-06 2024-06-06 16:43:17.389            0       -1
1                117 2024-06-08 2024-06-08 15:11:02.782            0       -1
2                117 2024-06-08 2024-06-08 15:11:44.797            0       -1
3                579 2024-06-05 2024-06-05 19:24:48.397            0       -1
4               1220 2024-06-04 2024-06-04 08:21:13.476            0   480729
...              ...        ...                     ...          ...      ...
46551440     5170695 2024-06-07 2024-06-07 17:57:24.644            0       -1
46551441     5171109 2024-06-04 2024-06-04 12:34:05.430            0       -1
46551442     5171307 2024-06-07 2024-06-07 07:50:02.549            0       -1
46551443     5171603 2024-06-13 2024-06-13 17:56:44.477            0       -1
46551444     5171698 2024-06-11 2024-06-11 03:05:21.361            0       -1

          country  partnumber  device_type  pagetype
0              29       14327            1        24
1              57       38422            1        24
2              57       19763            1        24
3              29       30253            1        24
4              25        1592            1        24
...           ...         ...          ...       ...
46551440       34       39901            3        24
46551441       29       38638            1        24
46551442       25       10883            1        24
46551443       29        3769            1        24
46551444       34       37323            1        24

[46551445 rows x 9 columns]>

In [23]:
train_df.head(20)

,session_id,date,timestamp_local,add_to_cart,user_id,country,partnumber,device_type,pagetype
0,64,2024-06-06,2024-06-06 16:43:17.389,0,-1,29,14327,1,24
1,117,2024-06-08,2024-06-08 15:11:02.782,0,-1,57,38422,1,24
2,117,2024-06-08,2024-06-08 15:11:44.797,0,-1,57,19763,1,24
3,579,2024-06-05,2024-06-05 19:24:48.397,0,-1,29,30253,1,24
4,1220,2024-06-04,2024-06-04 08:21:13.476,0,480729,25,1592,1,24
5,1220,2024-06-04,2024-06-04 08:21:09.139,0,480729,25,1592,1,24
6,1220,2024-06-04,2024-06-04 08:21:11.955,0,480729,25,33771,1,24
7,1222,2024-06-13,2024-06-13 06:22:03.307,0,-1,57,10763,1,24
8,1222,2024-06-13,2024-06-13 06:17:33.149,0,-1,57,14731,1,24
9,1222,2024-06-13,2024-06-13 06:17:57.411,0,-1,57,5249,1,24
10,1222,2024-06-13,2024-06-13 06:17:32.601,0,-1,57,33017,1,24
11,1222,2024-06-13,2024-06-13 06:19:09.272,1,-1,57,5249,1,24
12,1222,2024-06-13,2024-06-13 06:18:09.909,0,-1,57,39343,1,24
13,1222,2024-06-13,2024-06-13 06:19:18.028,0,-1,57,21714,1,24
14,1222,2024-06-13,2024-06-13 06:17:58.203,0,-1,57,2696,1,24
15,1222,2024-06-13,2024-06-13 06:20:00.385,0,-1,57,31963,1,24
16,1222,2024-06-13,2024-06-13 06:20:32.082,0,-1,57,5249,1,24
17,1222,2024-06-13,2024-06-13 06:20:18.198,0,-1,57,5969,1,24
18,1222,2024-06-13,2024-06-13 06:21:48.550,0,-1,57,21714,1,24
19,1222,2024-06-13,2024-06-13 06:18:08.278,0,-1,57,34276,1,24

In [24]:
train_df.describe()

,session_id,date,timestamp_local,add_to_cart,user_id,country,partnumber,device_type,pagetype
count,4.655144e+07,46551445,46551445,4.655144e+07,4.655144e+07,4.655144e+07,4.655144e+07,4.655144e+07,4.655144e+07
mean,2.582898e+06,2024-06-07 06:13:09.509547776,2024-06-07 21:13:05.366069760,5.898384e-02,4.103133e+04,3.644275e+01,2.171479e+04,1.144113e+00,2.390082e+01
min,1.000000e+00,2024-06-01 00:00:00,2024-06-01 02:00:00.051000,0.000000e+00,-1.000000e+00,2.500000e+01,1.000000e+00,1.000000e+00,-1.000000e+00
25%,1.289981e+06,2024-06-04 00:00:00,2024-06-04 09:02:17.912000,0.000000e+00,-1.000000e+00,2.900000e+01,1.105200e+04,1.000000e+00,2.400000e+01
50%,2.580033e+06,2024-06-07 00:00:00,2024-06-07 18:59:48.132000,0.000000e+00,-1.000000e+00,2.900000e+01,2.164900e+04,1.000000e+00,2.400000e+01
75%,3.875410e+06,2024-06-11 00:00:00,2024-06-11 07:14:04.460999936,0.000000e+00,-1.000000e+00,5.700000e+01,3.242300e+04,1.000000e+00,2.400000e+01
max,5.171848e+06,2024-06-16 00:00:00,2024-06-16 22:11:17.725000,1.000000e+00,5.570060e+05,5.700000e+01,4.369200e+04,3.000000e+00,3.700000e+01
std,1.493335e+06,NaN,NaN,2.355945e-01,1.164802e+05,1.245243e+01,1.248680e+04,5.080278e-01,1.280213e+00

---

## Verificaciones

In [25]:
# Verificar valores nulos
print("Valores nulos por columna:")
print(train_df.isnull().sum())

# Verificar uso de memoria
print("\nUso de memoria del dataset optimizado:")
print(train_df.info(memory_usage='deep'))

Valores nulos por columna:
session_id         0
date               0
timestamp_local    0
add_to_cart        0
user_id            0
country            0
partnumber         0
device_type        0
pagetype           0
dtype: int64

Uso de memoria del dataset optimizado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46551445 entries, 0 to 46551444
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   session_id       int32
 1   date             datetime64[ns]
 2   timestamp_local  datetime64[ns]
 3   add_to_cart      int8
 4   user_id          int32
 5   country          int8
 6   partnumber       int32
 7   device_type      int8
 8   pagetype         int8
dtypes: datetime64[ns](2), int32(3), int8(4)
memory usage: 1.4 GB
None

In [26]:
print("Usuarios no logueados (user_id == -1):", (train_df['user_id'] == -1).sum())
print(39694715 / len(train_df) * 100)  # ~85.3%
print("Valores faltantes en country (country == -1):", (train_df['country'] == -1).sum())
print("Valores faltantes en pagetype (pagetype == -1):", (train_df['pagetype'] == -1).sum())
print(1197 / len(train_df) * 100)  # ~0.0025%

Usuarios no logueados (user_id == -1): 39694715
85.27063982654029
Valores faltantes en country (country == -1): 0
Valores faltantes en pagetype (pagetype == -1): 1197
0.002571348751902331

---

# Tipo de datos iniciales alineados entre TRAIN Y TEST

In [27]:
# Guardar dataset en formato Parquet (más eficiente)
train_df.to_parquet('/home/pablost/Hackathon_inditex_data_science/hackathon-inditex-data-recommender/data/processed_v2/train_optimized.parquet', index=False)

print("Datasets guardados correctamente.")

Datasets guardados correctamente.